<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("utils/importCSS") %>
    <title> Blog </title>
</head>
<body>
    <%- include("utils/header", {user}) %>
    <center><h2>Bienvenue sur le blog des chefs Cuistot </h2></center>
    <h4>
        Un Univers ou vous pourrez vous epanouir et profiter des meilleures recette de cuisine 
        fait par les meilleures chefs de cuisine 
    </h4>

    <%- include("utils/importJS") %>
</body>
</html>