<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Acceuil</title>
    
</head>
<body>
    La liste des articles 
    <ul>
        <% for (article of list_article) { %>
            <li> <a href="/blog/article/show/<%= article.article_id %>"><%= article.article_title %> </a></li>
        <% } %>
    </ul>


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        
    </script>
</body>
</html>