<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un article </title>
</head>
<body>
    <h2> Ajouter un article </h2>

    <% if (errors.length != 0) { %>
        <strong>Les Erreurs sont survenue lors de la validation du formulaire</strong>
        <ul>
            <% errors.forEach(error => { %>
                <li> <%= JSON.stringify(error) %> </li>
            <% }); %>
        </ul>

    <% } %>
    <form enctype="multipart/form-data" method="post" action="/blog/article/add-article-page/add">
        <p>
            <label for="article_title"> Titre de l'article : </label>
            <input type="text" name="article_title" placeholder="titre de l'article">
        </p>

        <p>
            <label for="article_descrip"> Description de l'article : </label>
            <textarea name="article_descrip"></textarea>
        </p>

        <p>
            <label for="article_content"> Contenue de l'article : </label>
            <textarea name="article_content"></textarea>
        </p>

        <p>
            <label for="article_image"> Selectionner l'image de l'article </label>
            <input type="file" name="article_image" accept="image/*">
        </p>
        
        <p>
            <label for="article_category"> Categorie de l'article : </label>
            <select name="article_category">
                <% list_category.forEach(category => { %>
                    <option value="<%= category._id %>"> <%= category.category_name %> </option>
                <% }); %>
            </select>
        </p>

        <p>
            <input type="submit" value="Ajouter l'article">
        </p>
    </form>

</body>
</html>